<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-auto col-lg-7">
        <input class="form-control" type="search" placeholder="Username..." aria-label="Search" #searchInput>
      </div>
      <div class="col-sm-auto col-lg-5">
        <button class="btn btn-outline-secondary btn-block" (click)="searchName()">Search</button>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li
      *ngIf="showList.length === 0"
      class="list-group-item list-group-item-action list-group-item-light"
    >
      No recent chats !!!
    </li>
    <li
      *ngFor="let i of showList;let j = index;"
      style="cursor: pointer;"
      class="list-group-item list-group-item-action list-group-item-light"
      (click)="chatSelected(j)"
      [ngClass]="{'active': i._id === selectedId}"
    >
      {{i.username}}
    </li>
  </ul>
</div>
