<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      Recent Chats
      <i class="fa fa-comments" aria-hidden="true"></i>
    </h4>
  </div>
  <ul class="list-group list-group-flush">
    <li
      *ngIf="showList.length === 0"
      class="list-group-item list-group-item-action list-group-item-light"
    >
      No recent chats !!!
    </li>
    <li
      *ngFor="let i of showList;let j = index;"
      style="cursor: pointer;"
      class="list-group-item list-group-item-action list-group-item-light"
      (click)="chatSelected(j)"
      [ngClass]="{'active': i._id === selectedId}"
    >
      {{i.username}}
    </li>
  </ul>
</div>
